@font-face {
  font-family: 'PFEncoreSansPro-Bold';
  font-style: normal;
  font-weight: bold;
  src:
    local('PFEncoreSansPro Bold'),
    local('PFEncoreSansPro-Bold'),
    url(./fonts/PFEncoreSansPro-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'PFEncoreSansPro-Book';
  font-style: normal;
  font-weight: 300;
  src:
    local('PFEncoreSansPro Book'),
    local('PFEncoreSansPro-Book'),
    url(./fonts/PFEncoreSansPro-Book.otf) format('opentype');
}

@font-face {
  font-family: 'PFEncoreSansPro-Medium';
  font-style: normal;
  font-weight: 500;
  src:
    local('PFEncoreSansPro Medium'),
    local('PFEncoreSansPro-Medium'),
    url(./fonts/PFEncoreSansPro-Medium.otf) format('opentype');
} 

@font-face {
  font-family: 'PFEncoreSansPro-Light';
  font-style: normal;
  font-weight: 300;
  src:
    local('PFEncoreSansPro Light'),
    local('PFEncoreSansPro-Light'),
    url(./fonts/PFEncoreSansPro-Light.otf) format('opentype');
}

@font-face {
  font-family: 'PFEncoreSansPro-Regular';
  font-style: normal;
  font-weight: 500;
  src:
    local('PFEncoreSansPro Regular'),
    local('PFEncoreSansPro-Regular'),
    url(./fonts/PFEncoreSansPro-Regular.otf) format('opentype');
}



body {
  margin: 0;
  padding: 0;
  font-family: PFEncoreSansPro-Light, 'sans-serif';
}

